<h1 id=pageTitle>{{name}}</h1>

<h2 id="pageWording">Welcome: {{currUser.first_name}}</h2>

<div id="container">
<form>
  <div id="addtask">
  <div>
    <label for="Title" id="pageWording">Task</label>
    <input type="text" id="Title" ng-model="newTask.title" size="30" class="style-1">
  </div><br>
  <div>
    <label for="Description" id="pageWording">Description</label>
    <input type="text" id="Description" ng-model="newTask.description" size="30" class="style-1">
  </div><br>
  <div>
    <label for="Status" id="pageWording">Status</label>
    <input type="text" id="Status" ng-model="newTask.status" size="30" class="style-1">
  </div>
  </div><br>
  <div>
    <button ng-click="addTask(newTask)" class="form">Add Task</button>
  </div>
</form>


<div id="todo">
  <h2 id="pageWording">To Do</h2>
  <div dragula="'task-item'">
      <div ng-repeat="task in tasks | filter:task.status='todo'" class="task">

          <div ng-hide="true">!{{task.id}}!</div>

          <button ng-click="deleteTask(task.id)">Delete Task</button>
          <div ng-init="editMode.value=false">
            <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
            <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
            <input type="submit" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)">
            <input type="submit" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)">
          </div>

          <div ng-init="editModeDes.value=false">
            <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
            <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
            <input type="submit" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
            <input type="submit" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
          </div>

          <button ng-click="changeTask('status','doing',task.id)">></button>

        <div ng-controller="UserController" ng-init="findTaskUsers(task.id)">
          <p>Assignees: </p>
          <div ng-repeat="tuser in taskusers">
            <p>
              {{tuser.first_name}}
            </p>
          </div>
          <select ng-model="this_user">
            <option selected disabled class="dropdown">Assign User</option>
            <option ng-repeat="user in users" value="{{user}}">{{user.first_name}}</option>
          </select>
          <button ng-click="addUserTask(this_user,task.id)" class="form">Assign</button>
        </div>
      </div>
  </div>
</div>


<div id="doing">
  <h2 id="pageWording">Doing</h2>
  <div dragula="'task-item'">
      <div ng-repeat="task in tasks | filter:task.status='doing'" class="task">

          <div ng-hide="true">!{{task.id}}!</div>

          <button ng-click="deleteTask(task.id)">Delete Task</button>

          <div ng-init="editMode.value=false">
            <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
            <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
            <input type="submit" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)">
            <input type="submit" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)">
          </div>

          <div ng-init="editModeDes.value=false">
            <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
            <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
            <input type="submit" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
            <input type="submit" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
          </div>

          <button ng-click="changeTask('status','todo',task.id)"><</button>
          <button ng-click="changeTask('status','done',task.id)">></button>

        <div ng-controller="UserController" ng-init="findTaskUsers(task.id)">
          <p>Assignees: </p>
          <div ng-repeat="tuser in taskusers">
            <p>
              {{tuser.first_name}}
            </p>
          </div>
          <select ng-model="this_user">
            <option selected disabled>Assign User</option>
            <option ng-repeat="user in users" value="{{user}}">{{user.first_name}}</option>
          </select>
          <button ng-click="addUserTask(this_user,task.id)" class="form">Assign</button>
        </div>
      </div>
  </div>
</div>

<div id="done">
  <h2 id="pageWording">Done</h2>
  <div dragula="'task-item'">
      <div ng-repeat="task in tasks | filter:task.status='done'" class="task">

          <div ng-hide="true">!{{task.id}}!</div>

          <button ng-click="deleteTask(task.id)">Delete Task</button>

          <div ng-init="editMode.value=false">
            <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
            <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
            <input type="submit" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)">
            <input type="submit" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)">
          </div>

          <div ng-init="editModeDes.value=false">
            <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
            <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
            <input type="submit" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
            <input type="submit" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
          </div>

          <button ng-click="changeTask('status','doing',task.id)"><</button>

        <div ng-controller="UserController" ng-init="findTaskUsers(task.id)">
          <p>Assignees: </p>
          <div ng-repeat="tuser in taskusers">
            <p>
              {{tuser.first_name}}
            </p>
          </div>
          <select ng-model="this_user">
            <option selected disabled>Assign User</option>
            <option ng-repeat="user in users" value="{{user}}">{{user.first_name}}</option>
          </select>
          <button ng-click="addUserTask(this_user,task.id)" class="form">Assign</button>
        </div>
      </div>
  </div>
</div>