<h1>{{name}}</h1>

<form>
  <div>
    <label for="Title">Task</label>
    <input type="text" id="Title" ng-model="newTask.title">
  </div>
  <div>
    <label for="Description">Description</label>
    <input type="text" id="Description" ng-model="newTask.description">
  </div>
  <div>
    <label for="Status">Status</label>
    <input type="text" id="Status" ng-model="newTask.status">
  </div>
  <div>
    <button ng-click="addTask(newTask)">Add Task</button>
  </div>
</form>


<div id="todo">
  <h2>To Do</h2>
  <ul ng-repeat="task in tasks | filter:task.status='todo'">
    <li>
      <div ng-init="editMode.value=false">
        <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
        <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
        <input type="submit" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)">
        <input type="submit" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)">
      </div>
    </li>
    <li>
      <div ng-init="editModeDes.value=false">
        <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
        <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
        <input type="submit" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
        <input type="submit" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
      </div>
    </li>
    <li>
      <button ng-click="changeTask('status','doing',task.id)">></button>
    </li>
    <li ng-controller="UserController">
      <select>
        <option selected disabled>Assign User</option>
        <option ng-repeat="user in users" value="user.first_name">{{user.first_name}}</option>
      </select>
    </li>
  </ul>
</div>
<div id="doing">
  <h2>Doing</h2>
  <ul ng-repeat="task in tasks | filter:task.status='doing'">
    <li>
      <div ng-init="editMode.value=false">
        <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
        <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
        <input type="submit" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)">
        <input type="submit" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)">
      </div>
    </li>
    <li>
      <div ng-init="editModeDes.value=false">
        <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
        <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
        <input type="submit" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
        <input type="submit" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
      </div>
    </li>
    <li>
      <button ng-click="changeTask('status','todo',task.id)"><</button>
      <button ng-click="changeTask('status','done',task.id)">></button>
    </li>
    <li ng-controller="UserController">
      <select>
        <option selected disabled>Assign User</option>
        <option ng-repeat="user in users" value="user.first_name">{{user.first_name}}</option>
      </select>
    </li>
  </ul>
</div>
<div id="done">
  <h2>Done</h2>
  <ul ng-repeat="task in tasks | filter:task.status='done'">
    <li>
      <div ng-init="editMode.value=false">
        <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
        <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
        <input type="submit" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)">
        <input type="submit" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)">
      </div>
    </li>
    <li>
      <div ng-init="editModeDes.value=false">
        <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
        <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
        <input type="submit" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
        <input type="submit" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
      </div>
    </li>
    <li>
      <button ng-click="changeTask('status','doing',task.id)"><</button>
    </li>
    <li ng-controller="UserController">
      <select>
        <option selected disabled>Assign User</option>
        <option ng-repeat="user in users" value="user.first_name">{{user.first_name}}</option>
      </select>
    </li>
  </ul>
</div>