<h1 id=pageTitle>{{name}}</h1>

<h2 id="pageWording">Welcome: {{currUser.first_name}}</h2>

<button id="main_addtask" ng-hide="newtask" ng-click="showAddForm()" class="form">Add Task</button>

<div id="newtask_form">
  <form ng-show="newtask" id="addtask_form">
    <div id="addtask">
    <div class="filler">
      <label for="Title" id="addTaskWord">Task</label>
      <input type="text" id="Title" ng-model="newTask.title" size="30" class="inputnewtask">
    </div><br>
    <div class="filler">
      <label for="Description" id="addTaskWord">Description</label>
      <input type="text" id="Description" ng-model="newTask.description" size="30" class="inputnewtask">
    </div><br>
    <div>
      <label for="Status" id="addTaskWord">Status</label>
      <input type="text" id="Status" ng-model="newTask.status" size="30" class="inputnewtask">
    </div>
    </div><br>
    <div class="filler">
      <button ng-click="addTask(newTask)" class="form">Add Task</button>
      <button ng-click="showAddForm()" class="form">Cancel</button>
    </div>
  </form>
</div>

<div id="container">

<div id="todo">
  <h2 id="pageWording">To Do</h2>
  <div dragula="'task-item'" class="dragbox">
      <div ng-repeat="task in tasks | filter:task.status='todo'" class="task">

          <div ng-hide="true">!{{task.id}}!</div>

          <div class="binarrow">
            <div></div>
            <a href="#"><img ng-click="deleteTask(task.id)" src="/assets/trashcan.png" class="trashcan"></a>
            <a href="#"><img src="/assets/arrow-right.svg" class="arrows" ng-click="changeTask('status','doing',task.id)"></a>
          </div>

          <div ng-init="editMode.value=false">
            <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
            <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
            <a href="#"><img src="/assets/edit.svg" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)" class="crosses"></a>
            <a href="#"><img src="/assets/cross.svg" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)" class="crosses"></a>
          </div>

          <div ng-init="editModeDes.value=false">
            <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
            <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
            <img src="/assets/edit.svg" class="crosses" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
            <img src="/assets/cross.svg" class="crosses" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
          </div>

        <div ng-controller="UserController" ng-init="findTaskUsers(task.id)">
          <p>Assignees: </p>
          <div ng-repeat="tuser in taskusers">
            <div class="assignee">
              <p>{{tuser.first_name}}</p>
              <a href="#"><img src="/assets/cross.svg" class="crosses" ng-click="removeUserTask(tuser.id, task.id)"></a>
            </div>
          </div>
          <select ng-model="this_user">
            <option selected disabled class="dropdown">Assign User</option>
            <option ng-repeat="user in users" value="{{user}}">{{user.first_name}}</option>
          </select>
          <button ng-click="addUserTask(this_user,task.id)" class="form">Assign</button>
        </div>
      </div>
  </div>
</div>


<div id="doing">
  <h2 id="pageWording">Doing</h2>
  <div dragula="'task-item'" class="dragbox">
      <div ng-repeat="task in tasks | filter:task.status='doing'" class="task">

          <div ng-hide="true">!{{task.id}}!</div>

          <div class="binarrow">
            <a href="#"><img src="/assets/arrow-left.svg" class="arrows" ng-click="changeTask('status','todo',task.id)"></a>

            <a href="#"><img ng-click="deleteTask(task.id)" src="/assets/trashcan.png" class="trashcan"></a>

            <a href="#"><img src="/assets/arrow-right.svg" class="arrows" ng-click="changeTask('status','done',task.id)"></a>
          </div>


          <div ng-init="editMode.value=false">
            <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
            <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
            <a href="#"><img src="/assets/edit.svg" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)" class="crosses"></a>
            <a href="#"><img src="/assets/cross.svg" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)" class="crosses"></a>
          </div>

          <div ng-init="editModeDes.value=false">
            <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
            <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
            <img src="/assets/edit.svg" class="crosses" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
            <img src="/assets/cross.svg" class="crosses" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
          </div>

        <div ng-controller="UserController" ng-init="findTaskUsers(task.id)">
          <p>Assignees: </p>
          <div ng-repeat="tuser in taskusers">
            <div class="assignee">
            <p>{{tuser.first_name}}</p>
              <a href="#"><img src="/assets/cross.svg" class="crosses" ng-click="removeUserTask(tuser.id, task.id)"></a>
          </div>
          </div>
          <select ng-model="this_user">
            <option selected disabled>Assign User</option>
            <option ng-repeat="user in users" value="{{user}}">{{user.first_name}}</option>
          </select>
          <button ng-click="addUserTask(this_user,task.id)" class="form">Assign</button>
        </div>
      </div>
  </div>
</div>

<div id="done">
  <h2 id="pageWording">Done</h2>
  <div dragula="'task-item'" class="dragbox">
      <div ng-repeat="task in tasks | filter:task.status='done'" class="task">

          <div ng-hide="true">!{{task.id}}!</div>

        <div class="binarrow">
          <a href="#"><img src="/assets/arrow-left.svg" class="arrows" ng-click="changeTask('status','doing',task.id)"></a>

          <a href="#"><img ng-click="deleteTask(task.id)" src="/assets/trashcan.png" class="trashcan"></a>

          <div></div>
        </div>

          <div ng-init="editMode.value=false">
            <p ng-hide="editMode.value" ng-click="toggle(editMode)">{{task.title}}</p>
            <input type="text" ng-init="titleText=task.title" ng-model="titleText" value="{{task.title}}" ng-show="editMode.value">
            <a href="#"><img src="/assets/edit.svg" ng-show="editMode.value" ng-click="changeTask('title',titleText,task.id); toggle(editMode)" class="crosses"></a>
            <a href="#"><img src="/assets/cross.svg" ng-show="editMode.value" value="Cancel" ng-click="toggle(editMode)" class="crosses"></a>
          </div>

          <div ng-init="editModeDes.value=false">
            <p ng-hide="editModeDes.value" ng-click="toggle(editModeDes)">{{task.description}}</p>
            <input type="text" ng-init="descriptionText=task.description" ng-model="descriptionText" value="{{task.description}}" ng-show="editModeDes.value">
            <img src="/assets/edit.svg" class="crosses" ng-show="editModeDes.value" ng-click="changeTask('description',descriptionText,task.id); toggle(editModeDes)">
            <img src="/assets/cross.svg" class="crosses" ng-show="editModeDes.value" value="Cancel" ng-click="toggle(editModeDes)">
          </div>


        <div ng-controller="UserController" ng-init="findTaskUsers(task.id)">
          <p>Assignees: </p>
          <div ng-repeat="tuser in taskusers">
          <div class="assignee">
            <p>{{tuser.first_name}}</p>
              <a href="#"><img src="/assets/cross.svg" class="crosses" ng-click="removeUserTask(tuser.id, task.id)"></a>
            </div>
          </div>
          <select ng-model="this_user">
            <option selected disabled>Assign User</option>
            <option ng-repeat="user in users" value="{{user}}">{{user.first_name}}</option>
          </select>
          <button ng-click="addUserTask(this_user,task.id)" class="form">Assign</button>
        </div>
      </div>
  </div>
</div>