<div id="signUpLayout">
  <h1 id="pageWording">{{signup}}</h1>
  <form>
    <div>
      <label for="first_name" class="spacer">First Name</label>
      <input name="first_name" type="text" id="first_name" ng-model="newUser.fname">
    </div>
    <div>
      <label for="last_name" class="spacer">Last Name</label>
      <input name="last_name" type="text" id="last_name" ng-model="newUser.lname">
    </div>
    <div>
      <label for="username" class="spacer">Username</label>
      <input name="username" type="text" id="username" ng-model="newUser.username">
    </div>
    <div>
      <label for="password" class="spacer">Password</label>
      <input name="password" type="password" id="password" ng-model="newUser.password" class="loginInput">
    </div>
    <div>
      <label for="password2" class="spacer">Retype Password</label>
      <input name="password2" type="password" id="password2" ng-model="newUser.password2" class="loginInput">
    </div>
    <div>
      <button ng-click="addUser(newUser)" class="form">Sign Up</button>
    </div>
  </form>
</div>