body {
  background-image: url('./assets/background.png');
  background-size: cover;
}

nav {
  display: flex;
  flex direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  background-color: hsla(190, 100%, 50%, 0.2);
}

#pageTitle {
  font-family: 'Rock Salt', cursive;
  font-size: 270%;
}

#pageWording {
  font-family: 'Caveat', cursive;
  font-size: 200%;
}

#inputWording {
  font-family: 'Caveat', cursive;
  font-size: 125%;
}

.navWording {
  font-family: 'Caveat', cursive;
  font-size: 125%;
  font-weight: 900em;
}

/*.ng-enter {
  transition-delay: 0.5s;
  transition:0.5s linear all;
  opacity:0;
}
.ng-enter.ng-enter-active {
  transition-delay: 0.5s;
  opacity:1;
}*/

ul {
  list-style-type: none;
}

div#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  border: 3px solid black;
  font-size: .60em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 8px 8px 3px #888888;
}

div#todo {
  width: 26%;
  border: 2px solid black;
  padding: 1em;
  box-shadow: 8px 8px 3px #888888;
  background-color: #66CCFF;
}

div#doing {
  width: 26%;
  border: 2px solid black;
  padding: 1em;
  box-shadow: 8px 8px 3px #888888;
  background-color: #66CCFF;
}

div#done {
  width: 26%;
  border: 2px solid black;
  padding: 1em;
  box-shadow: 8px 8px 3px #888888;
  background-color: #66CCFF;
}

div#addtask {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.task {
  border: 1px solid black;
  padding: 1em;
  margin-right: 3em;
  background-image: url('./assets/crumpled-paper.jpg');
  background-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 7px #c9c9c9;
  box-shadow: inset 0 0 0 2px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 10px #969696;
}
button.form {
  background-color: #66CCFF;
  border: none;
  padding: 3px 8px;
  color: white;
}
button.form:hover {
  background-color: #0099FF;
}

.dropdown:hover {

}


div#newtask_form {
  background-color: red;
  display: flex;
  justify-content: center;
}

#addtask_form {
  padding: 20px;
  max-width: 255px;
}

#main_addtask{
  margin-bottom: 20px;
}

.dragbox {
  min-height: 500px;
}