.ng-enter {
  transition-delay: 0.5s;
  transition:0.5s linear all;
  opacity:0;
}
.ng-enter.ng-enter-active {
  transition-delay: 0.5s;
  opacity:1;
}

ul {
  list-style-type: none;
}

div#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  border: 1px solid black;
  font-size: .60em;
}

div#todo {
  width: 20%;
  border: 1px solid black;
  /*border-spacing: 15px;*/
}

div#doing {
  width: 20%;
  border: 1px solid black;
}

div#done {
  width: 20%;
  border: 1px solid black;

}

div#addtask {
  width: 20%;
}
