.navBar {
  display: flex;
  flex direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  background-color: #D0D0D0;
  font-size: 80%;
}

#pageTitle {
  font-family: 'Rock Salt', cursive;
  font-size: 270%;
  text-shadow:  0px 3px 0px #E8E8E8,
                0px 14px 10px rgba(0,0,0,0.15),
                0px 24px 2px rgba(0,0,0,0.1),
                0px 34px 30px rgba(0,0,0,0.1);
  margin-left: 20px;
  color: #303030;
}

#tasksLayout {
  margin: 1.5em 1.5em 0 1.5em;
  background-color: #E8E8E8;
  padding: 0.5em;
  border-radius: 8px;
  box-shadow: 8px 8px 3px #888888;
}

#loginLayout {
  margin: 1.5em 1.5em 0 1.5em;
  background-color: #E8E8E8;
  padding: 0.5em;
  border-radius: 8px;
  box-shadow: 8px 8px 3px #888888;
}

#signUpLayout {
  margin: 1.5em 1.5em 0 1.5em;
  background-color: #E8E8E8;
  padding: 0.5em;
  border-radius: 8px;
  box-shadow: 8px 8px 3px #888888;
}

#addTaskWord {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

#pageWording {
  font-family: 'Lato', sans-serif;
  font-size: 140%;
}

#inputWording {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
}

.navWording {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
  font-weight: 900em;
  color: #505050;
}

ul {
  list-style-type: none;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  border: 2px solid black;
  font-size: .60em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 8px 8px 3px #888888;
  background-color: #F8F8F8;
}

#loginContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
}

#todo, #doing, #done {
  width: 29%;
  border: none;
  padding: 1em;
  box-shadow: 8px 8px 3px #888888;
  background-color: #E8E8E8;
  border-radius: 8px;
  color: #505050;
}

#addtask {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #E8E8E8;
}

.task {
  border: none;
  padding: 1em;
  margin: 0 1em 2em 1em;
  background-color: #D0D0D0;
  box-shadow: 8px 8px 3px #888888;
  border-radius: 8px;
  color: #282828;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.taskInput, .loginInput, input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    box-shadow: 8px 8px 3px #888888;
}

.form {
  background-color: #66CCFF;
  border: none;
  padding: 3px 8px;
  color: white;
}
.form:hover {
  background-color: #0099FF;
}

#newtask_form {
  background-color: #D0D0D0;
  display: flex;
  justify-content: center;
}

#addtask_form {
  padding: 20px;
  max-width: 255px;
}

#main_addtask{
  margin-bottom: 20px;
}

.dragbox {
  min-height: 500px;
  cursor: pointer;
}

.dragbox:active {
  cursor: -webkit-grab;
}

.dragbox p {
  cursor: text;
}

.dragbox input[type="text"] {
  font-family: 'Lato', sans-serif;
  border: none;
  padding: 5px;
  font-size: 12px;
  width: 70%;
  box-shadow: none;
}

#username, #password  {
  margin-left: 8px;
}

.trashcan {
  height: 20px;
  width: 20px;
  color: #808080;
}

.arrows {
  height: 15px;
  width: 15px;
  color: #808080;
}

.assignee {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: center;
  padding: 0px;
}

.assignee p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 3px;
}

.crosses {
  height: 15px;
  width: 15px;
  padding-left: 5px;
}

.binarrow {
  display: flex;
  justify-content: space-between;
}

.spacer {
  min-width: 500px;
}